body {
  background: rgb(0,47,185);
  background: linear-gradient(0deg, rgba(0,47,185,1) 0%, rgba(9,58,121,1) 0%, rgba(0,255,179,1) 100%);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 60px;
  margin-top: 10px;
  margin-left: 10px;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 180px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 500px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 19px -7px #000000; 
  box-shadow: 0px 0px 19px -7px #000000;
  /* box-sizing: border-box; */
}
.login_container--form {
  display: flex; 
  flex-direction: column;
}
.login_container--form label{
  font-size: 14px;
}
.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--title {
  color: white;
  margin-bottom: 75px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight:bold;
}
.login__container--register a:hover {
  
  text-decoration: underline;
}
.login__group {
  margin: 20px 0px;
}
.login__group--label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-weight: 800;
}
.login__group--input {
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  -webkit-box-shadow: 0px 10px 15px -11px rgba(0,0,0,0.68); 
  box-shadow: 0px 10px 15px -11px rgba(0,0,0,0.68);
  outline: none;
  color: white;
  font-size: 16px;
  width: 100%;
}
.login__group--input::placeholder {
  color: rgb(224, 224, 224);
}
.login__container--button {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.212);
  color: rgb(240, 240, 240);
  border: none;
  font-size: 16px;
  border-radius: 25px;
  margin: 15px 0px;
  cursor: pointer;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
    box-shadow: none;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}